PIHOLE_INTERFACE={{ ansible_default_ipv4.interface }}
PIHOLE_DNS_1=127.0.0.1#5053
PIHOLE_DNS_2=
QUERY_LOGGING={{ PI_LOGGING }}
INSTALL_WEB_SERVER={{ PI_LOGGING }}
INSTALL_WEB_INTERFACE={{ PI_LOGGING }}
LIGHTTPD_ENABLED={{ PI_LOGGING }}
CACHE_SIZE=10000
DNS_FQDN_REQUIRED=true
DNS_BOGUS_PRIV=true
DNSMASQ_LISTENING=local
BLOCKING_ENABLED=true

